# Git Attributes

text=auto

*.py        diff=python

* crlf=text
*.txt text
*.yml text
*.html text

*.png       binary
*.doctree   binary
*.pickle    binary
*.ttf binary
*.svg binary
*.pdf binary
*.jp[e]?g binary
