# Git Attributes

*.py        diff=python

text=auto

* crlf=text crlf=input
*.txt text
*.yml text
*.html text

*.png       binary
*.doctree   binary
*.pickle    binary
*.ttf binary
*.svg binary
*.pdf binary
*.jp[e]?g binary
