[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
numpydoc = "*"
python-language-server = "*"
matplotlib = "*"
yapf = "*"
utilities = {editable = true,path = "."}
pynvim = "*"
flake8-rst = "*"

[packages]
utilities = {editable = true,path = "."}

[requires]
python_version = "3.7"
