# Vim: set ft=ini:

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-rst = "*"
matplotlib = "*"
nose = "*"
numpydoc = "*"
pydocstyle = "*"
pynvim = "*"
python-language-server = "*"
sphinx = "*"
yapf = "*"
utilities = {editable = true,path = "."}

[packages]
ipython = "*"
utilities = {editable = true,path = "."}
youtube-dl = "*"

[pipenv]
allow_prereleases = true
