[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
numpydoc = "*"
python-language-server = "*"
matplotlib = "*"
yapf = "*"
utilities = {editable = true,path = "."}
pynvim = "*"
flake8-rst = "*"
bandit = "*"
flake8 = "*"
pydocstyle = "*"
sphinx = "*"

[packages]
utilities = {editable = true,path = "."}
nose = "*"
flake8-rst = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
