certifi==2018.11.29
docutils==0.14
flake8==3.7.5
flake8-rst==0.7.1
git-lint==0.1.2
numpydoc==0.8.0
packaging==19.0
pycodestyle==2.5.0
pydocstyle==3.0.0
pyflakes==2.1.0
Pygments==2.3.1
python-language-server==0.22.0
requests==2.21.0
restructuredtext-lint==1.2.2
rstcheck==3.3.1
Sphinx==1.8.4
twine==1.12.1
yapf==0.25.0
youtube-dl==2019.1.30.1
