certifi==2022.12.7
coverage>=4.5.2
docutils>=0.14
flake8>=3.7.5
flake8-rst>=0.7.1
ipython==7.6.1
numpydoc==0.9.1
Pygments==2.4.2
pynvim==0.3.2
python-language-server==0.27.0
PyYAML==5.4
requests>=2.21.0
restructuredtext-lint>=1.2.2
rstcheck>=3.3.1
Sphinx==2.1.2
yapf==0.27.0
youtube-dl==2019.7.16
